<p>Añadir Comentario</p>

<form method="post" action="/quizes/<%= quizid %>/comments">
  <input type="text" id="comment" name="comment[texto]" value=""/>
  <button type="submit">Enviar</button>
</form>
