<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
  <div id="page-wrap">
    <header class="main" id="h1">
      <h1>Quiz: El juego de las preguntas</h1>
    </header>
    <nav class="main" id="n1" role="navigation">
      <a href="/">Inicio</a> |
      <a href="/quizes/question">Preguntas</a>
    </nav>
    <section class="main" id="s1">
      <%- body %>
    </section>
    <footer class="main" id="f1">
      <p>
        <a href="http://es.wikipedia.org/wiki/Quiz">
        ¿Qué es un Quiz?
        </a>
      </p>
    </footer>
  </div>
  </body>
</html>
