<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h2>Quiz: El juego de las preguntas</h2>
    <p><%= respuesta %></p>
    <a href="/quizes/question">Inténtalo otra vez</a>
  </body>
</html>
