<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h2>Quiz: El juego de las preguntas</h2>
    <form method="get" action="/quizes/answer">
      <p>Pregunta: <%= pregunta %></p>
      <input type="text" name="respuesta" value="Responda aquí" />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
