<h1>Estadísticas</h1>
<ul>
  <li><strong>Número de Preguntas: </strong><%= data.numQuizes %></li>
  <li><strong>Número de Comentarios: </strong><%= data.numComments %></li>
  <li><strong>Media de Comentarios por Pregunta: </strong><%= data.avg %></li>
</ul>
